body {
  background-color: #d9bea7;
  text-align: center;
  font-family: "Vollkorn", serif;
}

.cozy-weather-app {
  background: #f2f2f0;
  color: #402319;
  max-width: 300px;
  margin: 50px auto;
  padding: 25px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

.search-container {
  text-align: center;
}

.search-input {
  border: none;
  border-radius: 5px;
  background: #d9d5d2;
  width: 60%;
  padding: 10px 20px;
}

.search-button {
  border: none;
  background: #bf9b7a;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

h1 {
  line-height: 5px;
  padding: 20px 0 0 0;
  font-weight: normal;
  font-size: 40px;
}

p {
  line-height: 5px;
  font-size: 15px;
}

.icon {
  padding: 50px 0;
  font-size: 50px;
}

.temp {
  font-size: 40px;
  line-height: 20px;
}
footer {
  padding: 25px 0 0 0;
}
